body{
    background-color: lightsteelblue;
}

.box{

    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,50%);
    background-color:lightsteelblue;
    padding: 15px;
    border-radius: 15px;
    width: 30%;
    box-shadow: 0 0 1em rgb(0, 0, 0);
}

form{

}
fieldset {
    border: 3px solid #ffffff;
   color: rgb(0, 0, 0);
   border-radius: 5px;
position: relative;
    
}
button {
    background-color: rgb(7, 72, 237);
    color:rgb(255, 255, 255);
    border-radius: 10px;
    border-color:transparent;
    padding: 10px;
    position: relative;
    left: 27%;
}

button:hover {
    border-color:transparent;
    color: white;
    background-color: deepskyblue;
}
input {
 width: 340px;
 height: 20px;
border-radius: 2px;
border: 0px;


}

@media (max-width:1260px) {
  
      
}